.slick-prev,
.slick-next {
  color: #1290cb !important;
}

.slick-prev {
  left: -60px !important; /* Move the left arrow slightly left */
}

.slick-next {
  right: -60px !important; /* Move the right arrow slightly right */
}
