.title-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  /* border: 1px solid red; */
  /* position: relative; */
}
.reasons-to-choose-container {
  max-width: 1200px;
}
.reason-to-choose-number {
  border-radius: 50%;
  background-color: rgba(18, 144, 203, 0.1);
  color: #1290cb;
  font-size: 17px;
  padding: 5px;
  width: 30px;
  font-weight: 600;
}
.reason-container {
  display: flex;
  gap: 15px;
  align-items: center;
}
.reason-to-choose-text {
  font-size: 17px;
}
