.reasons-to-choose-container {
  max-width: 1200px;
  display: flex;
}
.reason-to-choose-number {
  border-radius: 50%;
  background-color: rgba(18, 144, 203, 0.1);
  color: #1290cb;
  font-size: 17px;
  padding: 5px;
  width: 30px;
  font-weight: 600;
}
.reason-to-choose-text {
  font-size: 17px;
}
